* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #0e84f2;
}
/*HEADER*/
header {
  background-color: #014eb8;
  display: flex;
  justify-content: center;
  color: white;

  padding: 10px;
}

/*MENU STYLES*/

#section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-content {
  margin-top: 90px;
  background-color: #33c9fc;
  width: 500px;
  border: 2px solid #cbebf6;
  justify-content: center;
}

.menu-content h2 {
  
  margin-top: 20px;
  font-size: 3rem;
  color: #ffffff;
  justify-content: center;
  display: flex;
}

.btnMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.btnMenu button {
  margin-top: 30px;

  border-radius: 5px;
  border-style: none;
  height: 40px;
  width: 200px;
}

.btnMenu button:hover {
  background-color: #0e84f2;
  transition: 0.3s;
}
.btnSubscribe:hover a{
  color: #ffffff;
}

.btnReference {
  text-decoration: none;
  color: #014eb8;
}
